body {
    background-color: #f8f9fa;
}

.form-group {
    margin-bottom: 1rem;
}

.fieldset-custom {
    border: 2px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
}

legend {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0 10px;
    width: auto;
}

.btn-custom {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
}

.block-choose {
    position: relative;
    padding-top: 20px;
}

.label-choose {
    position: absolute;
    top: -16px;
    left: 20px;
    background: #fff;
    z-index: 1;
    padding: 0;
}